BREVO_API_KEY=
MAIL_FROM_NAME=University Management System
MAIL_FROM_EMAIL=noreply@yourdomain.com
MAIL_REPLY_TO=support@yourdomain.com
UNSUBSCRIBE_URL=https://yourdomain.com/unsubscribe
FRONT_END_URL=https://yourdomain.com
UNIVERSITY_NAME=University Management System
UNIVERSITY_CONTACT=+92 300 0000000
